<!DOCTYPE html>
<html>
  <head>
    <title>Pre-recorded media streaming - Receiver</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Pre-recorded media streaming - Receiver</h1>
    <video autoplay></video>

    <script src="http://cdn.peerjs.com/0/peer.js"></script>
    <script src="public/streamer.js"></script>
    <script src="public/receiver.js"></script>
  </body>
</html>
