<!DOCTYPE html>
<html>
  <head>
    <title>Pre-recorded media streaming - Sender</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Pre-recorded media streaming - Sender</h1>
    <input type="file" title="Select WebM file / Size must be less than 800KB" />

    <script src="http://cdn.peerjs.com/0/peer.js"></script>
    <script src="public/streamer.js"></script>
    <script src="public/sender.js"></script>
  </body>
</html>
